{
    "function_score": {
        "query": {
            "dis_max": {
                "queries": [
                    {% for query in queries %}
                    {
                        "multi_match": {
                            "query": "{{ query }}",
                            "type": "cross_fields",
                            "fields": {{ fields | tojson }},
                            "operator": "and",
                            "boost": {{ boost }}
                        }
                    }
                    {% if not loop.last %}
                    ,
                    {% endif %}
                    {% endfor %}
                ]
            }
        }
    }
}
